body {
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  cursor: wait;
  background-color: #fffcf2;
}

body.preloading {
  overflow: hidden;
  cursor: wait; /* Menandakan loading */
}

body.loaded {
  overflow: auto; /* Izinkan scroll setelah preloader selesai */
  cursor: default;
}
