.link {
  position: relative;
  display: flex;
  align-items: center;

  .indicator {
    width: 10px;
    height: 10px;
    background-color: #fffcf2;
    border-radius: 50%;
    position: absolute;
    left: -30px;
  }
}

@media screen and (max-width: 1440px) {
  
}